#postCode {
    z-Index: 6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 530px;
        height: 600px;
        background: #fff;
        border: 1px solid #999;
        overflow: hidden;
        .window-title {
            width: 100%;
            height: 31px;
            background: rgb(132, 173, 234);
            border-bottom: 1px solid #999;
            display: flex;
            justify-content: space-between;
            align-items: center;            
            h1 {
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center; 
                padding: 0 0 0 5px; 
                img {
                    width: 15px;
                    height: 16px;
                }
                em {
                    transform: translateY(-1px);
                    margin: 5px;
                    font-size: 14px;
                    color: #333;
                }
            }
            button {
                width: 46px;
                height: 100%;
                color: #333;
                background: rgba(232,17,35, 0);
                border: 0;
                &:hover {
                    background: rgba(232,17,35, 1);
                    color:#fff;
                }
                i {
                    font-size: 17px;
                }
            }
        }
        .content {
            position: relative;
            width: 100%;
            height: 569px;
            overflow-y: auto;
            padding: 40px 30px 30px 30px;
            user-select: none;
            // 배송지 DB 수정 & 삭제 박스 
            .delivery-update_delete-box {
                z-index: 3;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #fff; 
                overflow: hidden;
                padding: 40px 30px;
                .header-box {
                    width: 100%;
                    padding: 0 0 20px 0;
                    h2 {
                        font-size: 24px;
                        font-weight: 500;
                        color:#333;
                    }
                }  
                .main-box {
                    width: 100%;
                    ul {
                        width: 100%;
                        li {
                            width: 100%;
                            padding: 0 0 10px 0;
                            p {
                                padding: 8px 0;
                                label {
                                    font-size: 14px;
                                    color:#333;
                                }
                                input[type='text'] {
                                    width: 100%;
                                    height: 44px;
                                    border: 1px solid #ccc;
                                    font-size: 14px;
                                    padding: 0 15px;
                                    border-radius: 3px;
                                    background: #fff;
                                    color:#333;
                                    font-size: 14px;
                                    outline: 1px solid transparent;
                                    outline-offset: -1px;
                                    transition: all 0.3s;
                                    &:focus {
                                        outline-color: #888;
                                    }
                                }
                            }
                        }
                    }
                }
                .footer-box {
                    width:100%;
                    ul {
                        width:100%;
                        li {
                            width:100%;
                            padding: 6px 0;
                            .delivery-default {
                                padding: 15px 0;
                            }
                            input[type='checkbox'] {
                                width:24px;
                                height:24px;
                                appearance: none;
                                border-radius: 50%;
                                background: #fff url(../../../public/images/delivery/icon_check_off.svg) no-repeat 50% 50%;
                                &:checked {
                                    background-image: url(../../../public/images/delivery/icon_check_on.svg);
                                }
                            }
                            label {
                                margin: 0 0 0 10px;
                                font-size: 14px;
                                color:#333;
                            }
                            button {
                                width: 100%;
                                height: 44px;
                                font-size: 14px;
                                font-weight: 500;
                                border:0;
                                border-radius: 3px;
                                cursor: pointer;
                                &.update-btn {
                                    background: #5f0080;
                                    color:#fff;
                                }
                                &.delete-btn {
                                    background:#fff;
                                    color:#333;
                                    border:1px solid #ccc;
                                }
                            }
                        }
                    }
                }
            }



            // 배송지 조회 목록 & 추가 박스
            .delivery-select-add-box {
                z-index: 3;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #fff; 
                overflow: hidden;               
                .header-box {
                    z-index: 2;
                    position: absolute;
                    top:0;
                    left:0;    
                    width: calc(100% - 17px);
                    padding: 40px 30px 0 30px;
                    background: #fff;
                    .title {
                        width: 100%;
                        padding: 0 0 20px 0;                        
                        h2 {
                            width: 100%;
                            strong {
                                font-size: 24px;
                                color: #333;
                            }
                            span {
                                font-size: 14px;
                                color: #333;
                                margin: 0 0 0 10px;
                                vertical-align: bottom;
                            }
                        }
                    }
                    .delivery-list-subject {
                        width: 100%;
                        height: 51px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-top: 2px solid #333;
                        border-bottom: 1px solid #333;
                        
                        span {
                            text-align: center;
                            &:nth-child(1){
                                width:64px;
                            }
                            &:nth-child(2){
                                width:calc(100% - 64px - 64px);
                            }
                            &:nth-child(3){
                                width:64px;
                            }
                        }
                    }
                }               
                .main-box {
                    z-index: 1;
                    position: relative;
                    top:0;
                    left:0;    
                    width: 100%;
                    height: 569px;
                    overflow-y: scroll;
                    padding: 140px 30px 60px 30px;
                    ul.delivery-list-box {                        

                        li.delivery-list {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0 0 8px  0;
                            border-bottom: 1px solid #ddd;
                            .delivery-list-left {
                                width:64px;
                                text-align: center;                                
                                input[type='checkbox'] {
                                    width:24px;
                                    height:24px;
                                    appearance: none;
                                    background: url(../../../public/images/delivery/icon_check_off.svg) no-repeat 50% 50%;
                                    &:checked {
                                        background-image: url(../../../public/images/delivery/icon_check_on.svg);
                                    }
                                }
                            }
                            .delivery-list-center {
                                width:calc(100% - 64px - 64px);
                                p {
                                    line-height: 160%;
                                    &.p1{
                                        color: #666;
                                        display: inline-block;
                                        padding: 0px 7px;
                                        background: #f0f0f0;
                                        line-height: 120%;
                                        font-size: 12px; 
                                        margin: 15px 0 0 0;                                       
                                    }
                                    &.p2{
                                        font-weight: 500;
                                        padding: 10px 0 0 0;
                                    }
                                    &.p3{
                                        font-weight: 400;
                                    }
                                    &.p4{
                                        color: #5f0080;
                                    }
                                }
                            }
                            .delivery-list-right {
                                width:64px;
                                text-align: center;
                                button {
                                    width: 24px;
                                    border: 24px;
                                    background: #fff;
                                    cursor: pointer;
                                    img {
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }
                .footer-box {   
                    z-index: 2;
                    position: absolute;
                    bottom:0;
                    left:0;                 
                    width:  calc(100% - 17px);
                    height: 60px;                    
                    border-top: 1px solid #ccc;
                    background: #fff;
                    button {
                        width: 100%;
                        height: 60px;  
                        color:#333;
                        border: 0;
                        background: #fff;
                        cursor: pointer;
                        img {
                            width:auto;
                        }
                        span {
                            font-size: 16px;
                            font-weight: 600;
                            margin: 0 0 0 7px;
                        }
                    }
                }
            }


            // 카카오 주소검색 API 부모박스
            .address-box {
                z-index: 1;
                position: relative;               
                width: 100%;
                .title {
                    width: 100%;
                    text-align: center;
                    padding: 0 0 30px 0;
                    h1 {
                        width: 100%;
                        font-size: 24px;
                        font-weight: 600;
                        strong {
                            color: #5f0080;
                        }
                        span  {
                            color: #333;
                        }
                    }
                    h2 {
                        padding: 13px 0 0 0;
                        width: 100%;
                        font-size: 16px;
                        color: #666;
                    }
                }
                .list-box {
                    width: 100%;
                    li {
                        width: 100%;
                        padding: 5px 0;
                       .gap {
                            width: 100%;
                            input[type='text'] {
                                width: 100%;
                                height: 44px;
                                padding:  0 15px;
                                font-size: 14px;
                                color: #333;
                                border: 1px solid #ddd;
                                border-radius: 3px;
                                outline-offset: -1px;
                                outline: 1px solid rgba(0,0,0, 0);
                                transition: all 0.3s;
                                &:focus {
                                    outline-color: rgba(0,0,0, 0.5);
                                }
                            }
                            &.row1 {
                                padding: 0 130px 0 0;
                                position: relative;
                                button {
                                   position: absolute;
                                   right: 0;
                                   top: 0;
                                   width: 120px;
                                   height: 44px;
                                   border: 1px solid #5f0080; 
                                   
                                   border-radius: 3px;
                                   background: #fff;
                                   cursor: pointer;
                                   img {
                                     width: 24px;
                                     height: 24px;
                                     transform: translateY(1px);
                                   }
                                   span {
                                        font-size: 14px;
                                        color: #5f0080;
                                        font-weight: 600;
                                   }
                                }
                            }
                            &.row2 {}
                            &.row3 {
                                p {
                                    font-size: 12px;
                                    color:#888;
                                    line-height: 120%;
                                }
                            }
                            &.row4 {
                                padding: 10px 0 25px 0;
                                button {                                    
                                    width: 100%;
                                    height: 44px;
                                    border: 1px solid #5f0080; 
                                    color: #fff;
                                    background: #5f0080;
                                    border-radius: 3px;  
                                    font-weight: 600;  
                                    cursor: pointer;
                                    font-size: 16px;                    
                                }
                            }
                            &.row5 {                               
                                img {
                                    width: 14px;
                                    height: 14px;
                                }
                                span {
                                    font-size: 14px;
                                    color:#f03f40;
                                    margin: 0 0 0 8px;
                                }
                            }
                            &.row6 {
                                display: flex;
                                justify-content: space-between;
                                padding: 0 0 0 24px;
                                span {
                                    font-size: 14px;
                                    color:#666;
                                }
                                button {
                                    background: none;
                                    border: 0;
                                    cursor: pointer;
                                    em {
                                        font-size: 12px;
                                        color: #999;
                                    }
                                    img {
                                        width: 11px;
                                        height: 10px;
                                    }
                                }
                            }
                       } 
                    }
                }
            }
        }
    }
}